# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kevin\Dropbox\Min PC (LAPTOP-PVVOC9DD)\Documents\GitHub\DAT109-Obl3-v1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
